# docker-compose.yml
version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: bank-cards-db
    environment:
      POSTGRES_DB: bankDB
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d bankcards"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: bank-cards-app
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/bankDB
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      SPRING_LIQUIBASE_ENABLED: "true"
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

volumes:
  postgres_data: