server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bankDB
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  liquibase:
    change-log: classpath:db/migration/master.yaml

# JWT
app:
  jwt:
    secret: ${JWT_SECRET:your_default_secret}
    expiration-in-ms: ${JWT_EXPIRATION_MS:86400000}

# Swagger
springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  api-docs:
    enabled: true
    path: /v3/api-docs